body{
background:url(../img/black-night-starry-night-monochrome-wallpaper-preview.jpg)no-repeat center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
.t1{
	color:#FFF;
}

.t2{
	
	color:#FFF;
}
.t3{
	
	color:#FFF;
}
.t4{
	
	color:#C00;
}
